/*BACKGROUNDS - PALETA DE CORES*/
.bg-body{background-color: #fbfbfb; color: #333;}
.bg-gray{background-color: #444444; color: #fff;}
.bg-light{background-color: #E6E4D9; color: #444;}
.bg-blue{background-color: #34495e; color: #fff;}
.bg-bluelight{background-color: #ccd8d1; color: #444;}
.bg-orange{background-color: #e16f4d; color: #fff;}